<div class="row align-items-center">
    <div class="col-md-4">
<div class="p-5 border">
    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let productImg of productDetails?.images ">
          <ng-template carouselSlide >
            <img class="w-100" [src] ="productImg" [alt] ="productDetails?.title">
          </ng-template>
        </ng-container>
    
      </owl-carousel-o>


   
</div>
    </div>
    <div class="col-md-8">
<div class="p-5">
<h3 class="fw-bold">{{productDetails?.title}}</h3>
<p class="my-3"> {{productDetails?.description}} </p>
<span class=" fw-bold font-sm text-main">{{productDetails?.category?.name}}</span>
<div class="my-3">
    <p class="my-0  font-sm fw-bold text-secondary">Available Quantity {{productDetails?.quantity}}</p>
    <p class="my-0 font-sm fw-bold">Brand {{productDetails?.brand?.name}}</p>
    <div class="d-flex justify-content-between">
            
        <span class=" my-3 fw-bold font-sm">{{productDetails?.price}} EGP</span>
        <div>
            <i class=" fa-solid fa-star rating-color mx-2"></i>
            <span class="fw-bold font-sm">{{productDetails?.ratingsAverage}}</span></div>
        </div>
       <div class="d-flex">
        <button (click)="addToCart(productDetails?._id)" class=" btn me-3 bg-main flex-grow-1 text-white mt-3">Add to Cart
            <i class="fas fa-shopping-cart ms-2"></i>
        </button>
        <button (click)="addToCart(productDetails?._id)" class=" btn ms-3 bg-danger flex-grow-1 text-white mt-3"> Add to wishlist
            <i class="fas fa-heart ms-2"></i>
        </button>  
       </div>
</div>
</div>
    </div>

</div>

<app-loading *ngIf="isLoading"></app-loading>
