<div class="w-50 mx-auto">
    <form (ngSubmit)="handlReset(resetPasswordForm)" [formGroup]="resetPasswordForm">
      <h2 class="my-3">reset password:</h2>
      <p *ngIf="apiErrorMessage" class="alert alert-danger">{{ apiErrorMessage }}</p>
     
     
  
      <label class="my-3" for="email">Email</label>
      <input formControlName="email" class="form-control" id="email" type="email" />
      <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched" class="text-danger">
        <p *ngIf="resetPasswordForm.get('email')?.getError('required')" class="my-0">Email is required</p>
        <p *ngIf="resetPasswordForm.get('email')?.getError('email')" class="my-0">Please enter a valid email</p>
      </div>
  
      <label class="my-3" for="newPassword">Password</label>
      <input formControlName="newPassword" class="form-control" id="newPassword" type="password" />
      <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="text-danger">
        <p *ngIf="resetPasswordForm.get('newPassword')?.getError('required')" class="my-0">New Password is required</p>
        <p *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')" class="my-0">New Password must start with an uppercase followed by at least 5 characters</p>
      
      </div>
  
      
  <div class="d-flex justify-content-end align-items-center">
    
  
  
    <button [disabled]="resetPasswordForm.invalid ||isLoading" type="submit" class="bg-main my-3 btn rounded text-light">
      <span *ngIf="!isLoading">send</span>
      <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>
    </button>
    
  </div>
    </form>
  </div>
  
 

